In [1]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [4]:
#We could relate these dictionaries to an actual dataframe which consist of rows and columns ie where the keys are the columns and values the rows
people['email'] #To access the emails contained in the people's dictionary

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [5]:
import pandas as pd

In [6]:
df= pd.DataFrame(people) #To convert our people's dictionary to a dataframe

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
df['email']
#df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
type(df['email'])#It's return type is a series object.
#A series is a list of data that are basically one dimensional ie rows of a single column.

pandas.core.series.Series

In [11]:
#Accessing element s from the dataframe
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [12]:
df.columns #To retrieve columns from the dataframe.

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.iloc[0] #To access rows from the dataframe by integer location. It only takes integer arguments.

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [17]:
df.iloc[[0, 2]] #To retrieve specific portion of the data.

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [18]:
df.iloc[[0, 1], 1] #We could also use the iloc function to retrieve info. taking the column index as an argument

0    Schafer
1        Doe
Name: last, dtype: object

In [19]:
df.loc[0] #it can take columns names as arguments

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [26]:
df.loc[[0, 1], ['email', 'last']] #loc[[rows,rows], [column,column]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe